<section>
  <div>
    <h2>Novo Funcionário</h2>
  </div>

  <div class="row"></div>
    <div class="col-6">
      <%= render 'shared/errors', object: @profile %>
      <%= form_with model: @profile, url: take_away_store_profiles_path(@take_away_store) do |form| %>
        <div class="field" data-controller="individual-register">
          <%= form.label :register_number %>
          <%= form.text_field :register_number, class: 'individual_register_number form-control', maxlength: 14 %>
        </div>

        <div class="field">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'form-control' %>
        </div>

        <div class="action mt-3">
          <%= form.submit class: 'btn btn-primary d-flex w-100' %>
        </div>
      <% end %>
    </div>
  </div>
</section>