<div>
  <span><%= menu.name %></span>
  <span>Adicionado em <%= l(menu.created_at, format: "%d/%m/%Y") %></span>
  <span><%= menu.description %></span>
  <% if menu.calories.present? %>
    <span><%= menu.calories %> Calorias</span>
  <% end %>

  <% if menu.photos.any? %>
    <% menu.photos.each do |photo| %>
      <%= image_tag photo %>
    <% end %>
  <% end %>
</div>