<div class="w-100 link-bar">
  <%= link_to 'Home', root_path %>
</div>

<section class="row">
  <div>
    <h3>Gerencie seus marcadores</h3>
  </div>
  <div class="col-6">
    <small>Novo Marcador</small>
    <%= render 'shared/errors', object: @characteristic %>
    <%= form_with model: @characteristic do |form| %>
      <div>
        <%= form.label :quality_name %>
        <%= form.text_field :quality_name, class: 'form-control' %>
      </div>

      <div class="mt-3">
        <%= form.submit class: 'btn btn-primary d-flex w-100' %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <% if @characteristics&.any? %>
      <% @characteristics.select(&:persisted?).each do |characteristic| %>
        <div>
          <p><%= link_to characteristic.quality_name, characteristic %></p>
        </div>
      <% end %>
    <% else %>
      <p>Não foram localizados marcadores cadastrados</p>
    <% end %>
  </div>
</section>