<section class="row">
  <div>
    <h3>Gerencie seus marcadores</h3>
  </div>
  <div class="col-6">
    <small>Novo Marcador</small>
    <%= form_with model: @characteristic do |form| %>
      <div>
        <%= form.label :quality_name %>
        <%= form.text_field :quality_name %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <% if @characteristics&.any? %>
      <% @characteristics.select(&:persisted?).each do |characteristic| %>
        <div>
          <p><%= link_to characteristic.quality_name, characteristic %></p>
        </div>
      <% end %>
    <% else %>
      <p>Não foram localizados marcadores cadastrados</p>
    <% end %>
  </div>
</section>