<div>
  <h2>Gerencie sua Loja</h2>
</div>

<section>
  <div>
    <span><%= @take_away_store.business_name %></span>
    <span><%= @take_away_store.email %> | <%= @take_away_store.phone_number %></span>
    <%= link_to 'Editar dados', edit_take_away_store_path(@take_away_store) %>
    <div>
      <address><%= @take_away_store.street_number %></address>
      <address><%= @take_away_store.city %>, <%= @take_away_store.state %></address>
      <address><%= @take_away_store.district %></address>
      <address><%= @take_away_store.complement %></address>
    </div>
  </div>

 
  <div id="business-hours">
    <div>
      <% if @take_away_store.business_hours.any? %>
        <p>Horário de funcionamento</p>
        <% @take_away_store.business_hours.each do |business_hour| %>
          <%= link_to edit_take_away_store_business_hour_path(@take_away_store, business_hour) do %>
            <p><%= business_hour.display_hours%></p>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'Adicionar horário de funcionamento', new_take_away_store_business_hour_path(@take_away_store), class: 'text-blue-500 hover:underline' %>
      <% end %>
    </div>
  </div>
</section>