<div class="w-100 link-bar">
  <%= link_to 'Home', root_path %>
</div>

<div>
  <h2>Gerencie sua Loja</h2>
  <div>
    <%= @take_away_store.trade_name %>
    <span>Código <%= @take_away_store.code %></span>
  </div>
</div>

<section class="row">
  <h3>Dados da loja</h3>
  <div class="col-6">
    <dl>
      <dt><%= @take_away_store.business_name %></dt>
      <dl>Responsável: <%= @take_away_store.owner.full_name %></dl>
    </dl>
    <span>Contato: <%= @take_away_store.email %> | <%= @take_away_store.phone_number %></span>
    <%= link_to_if owner_signed_in?, 'Editar dados', edit_take_away_store_path(@take_away_store) do %>
    <% end %>
    <div class="container border mt-3">
      <address><%= @take_away_store.street_number %></address>
      <address><%= @take_away_store.city %>, <%= @take_away_store.state %></address>
      <address><%= @take_away_store.district %></address>
      <address><%= @take_away_store.complement %></address>
      <address><%= @take_away_store.zip_code %></address>
    </div>
  </div>

  <div class="col-6 border p-2">
    <h3>Gerencie seus horários</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Dia da semana</th>
          <th class="text-center">Horário de abertura</th>
          <th class="text-center">Horário de fechamento</th>
        </tr>
      </thead>
      <tbody>
        <% @take_away_store.business_hours.each do |business_hour| %>
          <tr id=<%= business_hour.day_of_week_was%>>
            <td class="text-start">
              <%= link_to_if owner_signed_in?, BusinessHour.human_attribute_name(business_hour.day_of_week), edit_take_away_store_business_hour_path(@take_away_store, business_hour) do %>
                <%= BusinessHour.human_attribute_name(business_hour.day_of_week) %>
              <% end %>
            </td>
            <td class="text-center"><%= business_hour.display_time(business_hour.open_time) %></td>
            <td class="text-center"><%= business_hour.display_time(business_hour.close_time) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>