<nav class="navbar-expand-lg bg-body-tertiary navbar">
  <div class="container">
    <div class="navbar-brand img-brand">
      <%= link_to root_path do %>
        <%= image_tag 'paleva' %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <% if owner_signed_in? %>
          <%= render 'shared/owner_nav' %>
        <% elsif employee_signed_in? %>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0"></ul>
            <li>
              <div class="user-icon" %>
                <div class="nav-link active"><%= @take_away_store.trade_name %> - <%= current_employee.email %></div>
              </div>
            </li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acesso rápido
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-icon">
                  <%= image_tag 'store', class: 'dropdown-img-icon' %>
                  <%= link_to 'Dados da Loja', take_away_store_path(current_employee.take_away_store)%>
                </li>
              </ul>
            </div>
          </ul>
          <div>
            <%= button_to 'Sair', destroy_employee_session_path, method: :delete, class: 'btn btn-default' %>
          </div>
        <% else %>
          <div>
            <button onclick="showModal('modal_login')" class= "btn btn-primary mr-2"><%=t('user.sign_in')%></button> 
            <button onclick="showModal('modal_signup')" class= "btn btn-primary mr-2"><%=t('user.become_a_partner')%></button> 
          </div>
        <% end %>
    </div>
  </div>
</nav>

<dialog class="col-4" id="modal_login">
  <div class="w-100">
    <div>
      <button onclick="closeModal('modal_login')">&times;</button>
    </div>
    <%= turbo_frame_tag 'login' do %>
      <section class="row">
        <div class="col">
          <%= link_to 'Sou Proprietário', new_owner_session_path, class: 'btn btn-primary' %>
        </div>
        <div class="col">
          <%= link_to 'Sou Funcionário', new_employee_session_path, class: 'btn btn-primary' %>
        </div>
      </section>
    <% end %>
  <div>
</dialog>

<dialog class="col-4" id="modal_signup">
  <div class="w-100">
    <div>
      <button onclick="closeModal('modal_signup')">&times;</button>
    </div>
    <%= turbo_frame_tag 'signup' do %>
      <section class="row">
        <div class="col">
          <%= link_to 'Sou Proprietário', new_owner_registration_path, class: 'btn btn-primary' %>
        </div>
        <div class="col">
          <%= link_to 'Sou Funcionário', new_employee_registration_path, class: 'btn btn-primary' %>
        </div>
      </section>
    <% end %>
  <div>
</dialog>