<div class="container-flouid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <%= link_to root_path do %>
        <h3>Take Away</h3>
        <h3>Paleva</h3>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
       aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if owner_signed_in? %>
            <li>
              <p><%= current_owner.full_name %></p>
              <p><%= current_owner.email %></p>
            </li>
            <li>
              <% if current_owner.take_away_store.id.present? %>
                <%= link_to 'My Store', take_away_store_path(current_owner.take_away_store), class: 'nav-link active' %>
              <% end %>
            </li>
          </ul>
            <%= button_to 'Sair', destroy_owner_session_path, method: :delete %>
          <% else %>
            <%= link_to t('owner.become_a_partner'), new_owner_registration_path, class: "btn btn-outline-secondary mr-2" %>
            <%= link_to t('owner.sign_in'), new_owner_session_path, class: "btn btn-outline-primary mr-2" %>
          <% end %>
        
        
      </div>
    </div>
  </nav>
</div>