<%= render 'shared/errors', object: @business_hour %>

<%= form_with model: @business_hour, url: take_away_store_business_hour_path(@take_away_store, @business_hour), data: {turbo: false} do |form| %>
  <div>
    <%= BusinessHour.human_attribute_name @business_hour.day_of_week %>
  </div>

  <div>
    <%= form.label :open_time %>
    <%= form.time_field :open_time, value: "%H:%M", min: 'hh:mm:ss', max: 'hh:mm:ss' %>
  </div>

  <div>
    <%= form.label :close_time %>
    <%= form.time_field :close_time, value: "%H:%M", min: 'hh:mm:ss', max: 'hh:mm:ss' %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, BusinessHour.statuses.keys.map { |status| ["#{I18n.t status}", status] } %>
  </div>

  <div>
    <%= form.submit class: 'btn-primary' %>
  </div>
<% end %>