<%= render 'shared/errors', object: @take_away_store %>

<h3><%= t('new_manege', name: BusinessHour.model_name.human) %></h3>

<%= form_with model: @take_away_store, url: take_away_store_business_hours_path(@take_away_store), method: :post, data: { turbo: false }, class: 'col-4 form-container' do |form| %>
  <%= form.fields_for :business_hours do |business_hour_form| %>

    <div id="<%= business_hour_form.object.day_of_week %>" class="business-hour-container">
      
      <%= business_hour_form.hidden_field :day_of_week, value: business_hour_form.object.day_of_week %>
      <h3 class="day-title"><%= t("day_of_week.#{business_hour_form.object.day_of_week}") %></h3>
      <%= render 'shared/errors', object: business_hour_form.object %>

      <div class="form-group">
        <%= business_hour_form.label :open_time, class: 'form-label' %>
        <%= business_hour_form.time_field :open_time, value: business_hour_form.object.open_time&.strftime("%H:%M"), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= business_hour_form.label :close_time, class: 'form-label' %>
        <%= business_hour_form.time_field :close_time, value: business_hour_form.object.close_time&.strftime("%H:%M"), class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= business_hour_form.label :status, class: 'form-label' %>
        <%= business_hour_form.select :status, BusinessHour.statuses.keys.map { |status| ["#{I18n.t status}", status] }, {}, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.submit t('business_hour.registration'), class: 'btn btn-primary d-flex w-100' %>
  </div>
<% end %>
