<div class="aside">
  <h2>Cardápio</h2>
  <%= render 'shared/errors', object: @menu %>
  <section class="col-3">
    <% if owner_signed_in? %>
      <button class="btn btn-primary area-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Criar nova Categória
      </button>

      <div class="collapse area-dropdown" id="collapseExample">
        <div class="card card-body">
          <%= form_with model: [@take_away_store, @menu] do |form| %>
            <div class="mb-2">
              <%= form.label :name, 'Rótulo', class: 'visually-hidden' %>
              <%= form.text_field :name, class: "form-control", placeholder: "Nome do Rótulo" %>
            </div>
            <div>
              <%= form.submit 'Salvar e continuar', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


    <div class="mt-3 aside-dashboard" id="order">
      <div>
        <%= link_to orders_path do %>
          <h6>Meus pedidos</h6>
        <% end %>
      </div>

      <ul class="cart">
        <% if @order_items.present? %>
          <p>Você possui itens aguardando confirmação</p>
          <p>Total do pedido: <%= @price %></p>
          <%= link_to 'Ir para o Carrinho', order_items_path %>

          <div class="cart-list border p-2">
            <dl>
              <% @order_items.group_by { |order_item| order_item[:menu] }.each do |menu, items| %>
                <dt>Menu: <%= menu.name %></dt>
                <div class="cart-item">
                  <% items.each do |order_item| %>
                    <dd><%= order_item[:quantity] %>x <%= order_item[:item].name %></dd>
                    <dd><%= order_item[:portion] %></dd>
                    <hr>
                  <% end %>
                </div>
              <% end %>
            </dl>
          </div>
        <% end %>
      </ul>
    </div>
  </section>

  <%= render 'home/menu_list', menus: @menus %>
</div>