<div class="mt-5 col-9 menu-list">
  <div>
    <% if menus&.exists?(&:persisted?) %>
      <% menus.select(&:persisted?).each do |menu| %>
        <div class="menu mt-1 p-3 border rounded" id="<%= dom_id(menu) %>">
          <div class="menu-header">
            <%= link_to_if owner_signed_in?, menu.name, take_away_store_menu_path(@take_away_store, menu) do %>
              <h4><%= menu.name %></h4>
            <% end %>
          </div>
          <div id="items">
            <% if menu.items.select(&:active?).present? %>
              <div>
                <small>Itens inclusos no cardápio</small>
              </div>
              <% menu.items.select(&:active?).each do |item| %>
                <div class="container mt-3 row p-2 menu-list-items">
                  <div class="col-6 text-center">
                    <% if owner_signed_in? %>
                      <%= link_to take_away_store_item_path(menu.take_away_store, item) do %>
                        <h5><%= item.name %></h5>
                        <% if item.photo.attached? %>
                          <%= image_tag item.photo, class: 'fixed-img item-radius-img', alt: 'Card item image' %>
                        <% else %>
                          <%= image_tag 'default-item-img', class: 'fixed-img item-img', alt: 'No image item' %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <h5><%= item.name %></h5>
                      <% if item.photo.attached? %>
                        <%= image_tag item.photo, class: 'fixed-img item-radius-img', alt: 'Card item image' %>
                      <% else %>
                        <%= image_tag 'default-item-img', class: 'fixed-img item-img', alt: 'No image item' %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-6 box-item" id="<%= dom_id(menu, item.name) %>">
                    <%= form_with url: new_item_path(menu, item), method: :get, class: 'form-menu-item' do |form| %>
                      <strong>Monte seu pedido</strong>
                      <%= render 'shared/errors', object: @order %>
                      <div class="mb-1">
                        <%= form.label :portion_id, 'Porção', class: "visually-hidden" %>
                        <%= form.select :portion_id, options_for_select(item.portions.map { |portion| [portion.menu_option_name, portion.id] }),
                                        prompt: "Selecione uma opção", class: 'form-select' %>
                      </div>

                      <div class="mb-1">
                        <%= form.label :observation, 'Observação', class: "visually-hidden" %>
                        <%= form.text_field :observation, class: 'form-control', placeholder: 'Observação' %>
                      </div>

                      <div>
                        <%= form.label :quantity, 'Quantidade' %>
                        <%= form.number_field :quantity, min: 1, class: 'form-control', placeholder: 'Quantidade', require: true %>
                      </div>

                      <div class="mt-3">
                        <%= form.submit 'Adicionar ao Carrinho', class: 'btn btn-primary d-flex w-100' %>
                      </div>
                    <% end %>
                    <div class="row mt-3 text-break" >
                      <small><%= link_to_if owner_signed_in?, 'Mais Detalhes', take_away_store_item_path(menu.take_away_store, item) %></small>
                    </div> 
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>Sem itens cadastrados</p>
            <% end %>
            <div class="mt-2 menu-body"></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Não existem cardápios cadastrados</p>
    <% end %>
  </div>
</div>



