<div class="mt-5 col-9 menu-list">
  <div>
    <% if menus&.exists?(&:persisted?) %>
      <% menus.select(&:persisted?).each do |menu| %>
        <div class="menu mt-1 p-3 border rounded" id="<%= dom_id(menu) %>">
          <div class="menu-header">
            <%= link_to_if owner_signed_in?, menu.name, take_away_store_menu_path(@take_away_store, menu) do %>
              <h4><%= menu.name %></h4>
            <% end %>
          </div>
          <div id="items">
            <% if menu.items.select(&:active?).present? %>
              <div>
                <small>Itens inclusos no cardápio</small>
              </div>
              <% menu.items.select(&:active?).each do |item| %>
                <div class="container mt-3 row p-2 menu-list-items">
                  <small><%= item.name %></small>
                  <div class="col-6">
                    <% if item.photo.attached? %>
                      <%= image_tag item.photo, class: 'fixed-img item-img', alt: 'Card item image' %>
                    <% else %>
                      <%= image_tag 'default-item-img',  class: 'fixed-img item-img', alt: 'No image item' %>
                    <% end %>
                  </div>
                  <div class="col-6 box-item" id="<%= dom_id(menu, item.name) %>">
                    <small>Descrição:</small>
                    <div class="row box-item__description overflow-auto">
                      <span class="text-justify"><%= item.description %></span>
                    </div>
                    <div class="row mt-3 text-break">
                      <% if item.calories.present? %>
                        <small><%= item.calories %> Calorias</small>
                      <% end %>
                    </div>
                    <div class="row mt-3 text-break" >
                      <small><%= link_to_if owner_signed_in?, 'Mais Detalhes', take_away_store_item_path(menu.take_away_store, item) %></small>
                    </div> 
                    <div>
                      <%= form_with url: new_item_path(menu, item), method: :get do |form| %>
                        <div>
                          <%= form.label :portion_id, 'Porção' %>
                          <%= form.select :portion_id, options_for_select(item.portions.map { |portion| [portion.menu_option_name, portion.id] }), prompt: "Selecione uma opção" %>
                        </div>
                        <div>
                          <%= form.label :observation, 'Observação' %>
                          <%= form.text_field :observation %>
                        </div>
                        <div>
                          <%= form.label :quantity, 'Quantidade' %>
                          <%= form.number_field :quantity, min: 1 %>
                        </div>
                        
                        <%= form.submit 'Adicionar ao Carrinho' %>
                      <% end %>

                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>Sem itens cadastrados</p>
            <% end %>
            <div class="mt-2 menu-body"></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Não existem cardápios cadastrados</p>
    <% end %>
  </div>
</div>