<div class="mt-5 col-9 menu-list">
  <div>
    <% if menus&.exists?(&:persisted?) %>
      <% menus.select(&:persisted?).each do |menu| %>
        <div class="menu mt-1 p-3 border rounded" id="<%= dom_id(menu) %>">
          <div class="menu-header">
            <%= link_to_if owner_signed_in?, menu.name, take_away_store_menu_path(@take_away_store, menu) do %>
              <h4><%= menu.name %></h4>
            <% end %>
          </div>
          <div id="items">
            <% if menu.items.select(&:active?).present? %>
              <div>
                <small><%= t('menu.itens') %></small>
              </div>
              <% menu.items.select(&:active?).each do |item| %>
                <div class="container mt-3 row p-2 menu-list-items">
                  <div class="col-6 text-center">
                    <% if owner_signed_in? %>
                      <%= link_to take_away_store_item_path(menu.take_away_store, item) do %>
                        <h5><%= item.name %></h5>
                        <% if item.photo.attached? %>
                          <%= image_tag item.photo, class: 'fixed-img item-radius-img', alt: 'Card item image' %>
                        <% else %>
                          <%= image_tag 'default-item-img', class: 'fixed-img item-img', alt: 'No image item' %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <h5><%= item.name %></h5>
                      <% if item.photo.attached? %>
                        <%= image_tag item.photo, class: 'fixed-img item-radius-img', alt: 'Card item image' %>
                      <% else %>
                        <%= image_tag 'default-item-img', class: 'fixed-img item-img', alt: 'No image item' %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-6">
                    <small>Descrição:</small>
                    <div class="row box-item__description overflow-auto">
                      <span class="text-justify"><%= item.description %></span>
                    </div>
                    <div class="row mt-3 text-break">
                      <% if item.calories.present? %>
                        <small><%= item.calories %> Calorias</small>
                      <% end %>
                    </div>
                    <button onclick="showModal(<%= dom_id(menu, item.name) %>)" class="btn btn-primary d-flex justify-content-center w-100">+ Carrinho</button>
                  </div>
                  <dialog class="col-3" id="<%= dom_id(menu, item.name) %>">
                    <div class="w-100">
                      <div>
                        <button onclick="closeModal(<%= dom_id(menu, item.name) %>)">&times;</button>
                      </div>
                      <%= form_with url: new_item_path(menu, item), method: :get, class: 'row justify-content-center' do |form| %>
                        <strong><%= t('order.make')%></strong>
                        <%= render 'shared/errors', object: @order %>
                        <div class="mb-3">
                          <label for="portion_id" class="form-label"><%= Portion.model_name.human %></label>
                          <select id="portion_id" name="portion_id" class="form-select">
                            <%= options_for_select(item.portions.map { |portion| [portion.menu_option_name, portion.id] }, selected: nil) %>
                          </select>
                        </div>

                        <div class="mb-1">
                          <%= form.label :observation, t('order.cart.observation'), class: "visually-hidden" %>
                          <%= form.text_field :observation, class: 'form-control', placeholder: t('order.cart.observation') %>
                        </div>

                        <div>
                          <%= form.label :quantity, t('order.cart.quantity') %>
                          <%= form.number_field :quantity, min: 1, class: 'form-control', placeholder: t('order.cart.quantity'), require: true %>
                        </div>

                        <div class="mt-3">
                          <%= form.submit t('order.cart.new'), class: 'btn btn-primary d-flex w-100' %>
                        </div>
                      <% end %>
                      <div class="row mt-3 text-break" >
                        <small><%= link_to_if owner_signed_in?, t('menu.more_details'), take_away_store_item_path(menu.take_away_store, item) %></small>
                      </div>
                    </div>
                  </dialog>
                </div>
              <% end %>
            <% else %>
              <p><%= t('menu.no_item_content') %></p>
            <% end %>
            <div class="mt-2 menu-body"></div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><%= t('menu.no_content') %></p>
    <% end %>
  </div>
</div>

<script>
  function showModal(dialog){
    const id = dialog.id
    const modal = document.querySelector(`#${id}`);
    modal.showModal();
  }

  function closeModal(dialog){
    const id = dialog.id
    const modal = document.querySelector(`#${id}`);
    modal.close();
  }
</script>

