<section class="row">
  <% if owner_signed_in? && @take_away_store.id.present? %>
  <h2>Cardápio</h2>
  <%= render 'shared/errors', object: @menu %>
  <section class="col-3">
  <button class="area-dropdown btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">
    Criar nova Categória
  </button>
  <ul class="dropdown-menu p-3 area-dropdown" aria-labelledby="dropdownMenuButton">
    <li>
      <%= form_with model: [@take_away_store, @menu] do |form| %>
        <div class="mb-2">
          <%= form.label :name, 'Rótulo', class: 'visually-hidden' %>
          <%= form.text_field :name, class: "form-control", placeholder: "Nome do Rótulo" %>
        </div>
        
        <div>
          <%= form.submit 'Salvar e continuar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </li>
  </ul>
</section>

<div class="mt-5 col-9 menu-list">
  <div>
    <% unless @menus.nil? %>
      <% @menus.select(&:persisted?).each do |menu| %>
        <div class="menu mt-1 p-3 border rounded">
          <div class="menu-header">
            <h4><%= menu.name %></h4>
            <hr>
            <%= link_to take_away_store_menu_path(@take_away_store, menu) do %>
              <h5>Editar Cardápio</h5>
            <% end %>
          </div>
          
          <div id="items">
            <% if menu.items.where(status: 'active').any? %>
              <div>
                <small>Itens inclusos no cardápio</small>
              </div>
            <% end %>
            <div class="mt-2 menu-body">
              <%= render 'items/items', items: menu.items.where(status: 'active') %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  document.querySelectorAll('.dropdown-menu').forEach(menu => {
    menu.addEventListener('click', event => {
      event.stopPropagation();
    });
  });
</script>

  <% end %>
</section>
