<div>
  <p>Cliente: <%= @order.name %></p>
  <p>Contato: <%= @order.contact %></p>
  <p><%= Order.human_attribute_name(@order.status) %></p>
  <p>Total do pedido: <%= @price %></p>
  <p>Solicitado em <%= @order.created_at_current.strftime("%d/%m/%Y %H:%M") %></p>

  <div>
    <h3>Itens do pedido</h3>
    <% @order.order_items.each do |order_item| %>
      <p><strong>Menu:</strong> <%= order_item.menu.name %></p>
      <p><strong>Item:</strong> <%= order_item.item.name %></p>
      <p><strong>Porção:</strong> <%= order_item.portion.menu_option_name %></p>
      <p><strong>Quantidade:</strong> <%= order_item.quantity %></p>
      <p><strong>Observação:</strong> <%= order_item.observation.presence || 'Nenhuma' %></p>
    <% end %>
  </div>
</div>