<div class="col-3 border m-1 pt-2">
  <h4 class="text-center">Adicionar Marcador</h4>
  <div>
    <div class="column">
      <% if @take_away_store.characteristics.any? %>
        <p>Selecionar marcador existente</p>
        <%= render 'shared/errors', object: @tag %>
        <div class="row mb-3">
          <%= form_with model: @characteristic, url: take_away_store_item_tags_path(take_away_store, item) do |form| %>
            <div>
              <%= form.collection_select :characteristic_id, @take_away_store.characteristics, :id, :quality_name, { prompt: 'Escolha uma tag' }, class: 'form-select' %>
            </div>

            <div class="mt-3">
              <%= form.submit 'Adicionar Tag', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
        <small>Ou crie uma nova tag</small>
      <% else %>
        <p>Nenhuma característica disponível. Crie uma nova tag abaixo.</p>
      <% end %>
      <div class="row">
        <%= link_to new_take_away_store_item_tag_path(take_away_store, item) do %>
          <small>Nova tag</small>
        <% end %>
      </div>
    </div>
  </div>
</div>
