<div>
  <span><%= item.name %></span>
  <small>
    <%= Item.human_attribute_name(item.status) %> 
  </small>
  <span>Adicionado em <%= l(item.created_at, format: "%d/%m/%Y") %></span>

  <div>
    <%= button_to 'Alterar status', change_status_take_away_store_item_path(take_away_store, item), method: :patch %>
    <%= link_to 'Editar', edit_take_away_store_item_path(take_away_store, item) %>
    <%= button_to 'Excluir', take_away_store_item_path(take_away_store, item), method: :delete %>
  </div>

  <span><%= item.description %></span>
  <% if item.calories.present? %>
    <span><%= item.calories %> Calorias</span>
  <% end %>

  <% if item.photo.attached? %>
    <%= image_tag item.photo %>
  <% end %>
</div>