<% if @registers.any? %>
  <h2><%= Historic.model_name.human %> - <%= @item.name %></h2>
  <% @registers.each do |portion, register| %>
    <%= link_to portion do %>
      <small><%= Portion.model_name.human %> <%= portion.option_name %></small>
    <% end %>
    <div class="column border m-2 p-4 overflow-auto historical-list" id="<%= dom_id(portion) %>">
      <div class="column">
        <% register.each do |r| %>
          <div class="row">
            <%= r.historical_list %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <h5><%= t('historical.no_content') %></h5>
<% end %>