<div>
  <h2>Gerencie seus produtos</h2>
  <p>Gerencie seu estoque e cadastre seus produtos para venda</p>
  <small>Nota: Itens inativos não são adicionados ao seu cardápio</small>
</div>

<div>
  <%= form_with url: take_away_store_items_path(@take_away_store), method: :get,  class: 'd-inline-flex align-items-center' do |form| %>
    <div lass="form-group mb-0 me-2" >
      <%= form.label :select_tag, 'Filtro', class: "visually-hidden" %>
      <%= form.collection_select :select_tag, @tags, :id, :quality_name, {prompt: 'Todos'}, class: 'form-select' %>
    </div>

    <div>
      <%= form.submit 'Filtrar', class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>
<div class="row mt-3">
  <section class="col">
    <div>
      <%= link_to 'Novo Prato', new_take_away_store_dish_path(@take_away_store) %>
    </div>

    <div class="list-items overflow-scroll">
      <%= render 'items/items', items: @dishes %>
    </div>
  </section>

  <section class="col">
    <div>
      <%= link_to 'Nova Bebida', new_take_away_store_beverage_path(@take_away_store) %>
    </div>

    <div class="list-items overflow-scroll">
      <%= render 'items/items', items: @beverages %>
    </div>
  </section>
</div>