<div class="w-100 link-bar">
  <%= link_to 'Home', root_path %>
</div>

<% if @order_items.present? %>
  <div id="order_items" class="row">
    <h2>Itens do pedido</h2>
    <div class="col-4 list-order-items">
      <% @order_items.each_with_index do |order_item, index| %>
        <div class="mb-3 overflow-auto" id="order_item_<%= index + 1 %>">
          <div class="d-flex">
            <h6 class="p-2"><%= index + 1 %></h6>
            <div class="order-item p-2">
              <p><strong><%= Menu.model_name.human %>:</strong> <%= order_item[:menu].name %></p>
              <p><strong><%= Item.model_name.human %>:</strong> <%= order_item[:item].name %></p>
              <p><strong><%= Portion.model_name.human %>:</strong> <%= order_item[:portion] %></p>
              <p><strong><%= OrderItem.human_attribute_name(:quantity) %>:</strong> <%= order_item[:quantity] %></p>
              <p><strong><%= OrderItem.human_attribute_name(:observation) %>:</strong> <%= order_item[:observation].presence || 'Nenhuma' %></p>
            </div>
          </div>
          <div class="btn-group mt-3 gap-2">
            <%= button_to 'Remover', order_item_path(index), method: :delete, class:'btn btn-primary' %>
            <%= link_to 'Editar', edit_order_item_path(index), class: 'btn btn-primary' %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col">
      <strong>Total do Pedido</strong>: <%= @price %>
      <div>
        <%= link_to 'Confirmar Pedido', new_order_path %>
      </div>
    </div>
  </div>
<% else %>
  <p>Carrinho vázio, volte a página inicial para cadastrar novos itens</p>
<% end %>
