<% if @order_items.present? %>
  <div id="order_items" class="row">
    <h2>Itens do pedido</h2>
    <div class="col">
      <% @order_items.each_with_index do |order_item, index| %>
      <div id="order_item_<%= index + 1 %>">
        <div><%= index + 1 %></div>
        <div class="order-item p-2">
          <p><strong>Menu:</strong> <%= order_item[:menu].name %></p>
          <p><strong>Item:</strong> <%= order_item[:item].name %></p>
          <p><strong>Porção:</strong> <%= order_item[:portion] %></p>
          <p><strong>Quantidade:</strong> <%= order_item[:quantity] %></p>
          <p><strong>Observação:</strong> <%= order_item[:observation].presence || 'Nenhuma' %></p>
        </div>
        <div>
          <%= button_to 'Remover', order_item_path(index), method: :delete, class:'btn btn-primary d-flex w-100' %>
          <%= link_to 'Editar', edit_order_item_path(index) %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col">
      <strong>Total do Pedido</strong>: <%= @price %>
      <div>
        <%= link_to 'Confirmar Pedido', new_order_path %>
      </div>
    </div>
  </div>
<% else %>
  <p>Carrinho vázio, volte a página inicial para cadastrar novos itens</p>
<% end %>
