<h2><%= @portion.item_name %></h2>
<%= render 'shared/errors', object: @portion %>
<section class="row m-3">
  <div class="col-4 border p-2">
    <h5>Atualizar porção</h5>
    <small>Valor atual: <%= @portion.formated_value %></small>

    <div>
      <%= form_with model: @portion do |form| %>
          <div>
            <%= form.label :option_name %>
            <%= form.text_field :option_name %>
          </div>

          <div>
            <%= form.label :value %>
            <%= form.text_field :value %>
          </div>

          <div class="mt-3">
            <%= form.submit class: 'btn btn-success' %>
          </div>
      <% end %>
    </div>
  </div>

  <div id="historic" class="col-8">
    <% if @registers.any? %>
      <h2>Histórico - Porção <%= @portion.option_name %></h2>
      <% @registers.each do |portion, register| %>
        <div class="column border m-2 p-4 overflow-auto historical-list">
          <div class="column">
            <% register.each do |r| %>
              <div class="row">
                <%= r.historical_list %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>